{% load static %}
<!-- About Start -->
        <div class="container-fluid about bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-img pb-5 ps-5">
                            <img src="{% static 'img/about-1.jpg' %}" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
                            <div class="about-img-inner">
                                <img src="{% static 'img/about-2.jpg' %}" class="img-fluid rounded-circle w-100 h-100" alt="Image">
                            </div>
                            <div class="about-experience">3 anos de experiência</div>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="section-title text-start mb-5">
                            <h4 class="sub-title pe-3 mb-0">Sobre mim</h4>
                            <h1 class="display-3 mb-4">Sou psicólogo</h1>
                            <p class="mb-4">Sou apaixonado pelo cuidado com o bem-estar emocional e comprometido com o desenvolvimento pessoal de cada cliente. Com experiência em psicoterapia, dedico minha atuação a ajudar pessoas a enfrentarem desafios, ampliarem sua consciência e se reconectarem com diferentes dimensões de si mesmas.
Recentemente, realizei um intercâmbio em Londres, onde aprofundei minha prática e ampliei meu repertório em abordagens terapêuticas.
</p>
                            <p class="mb-4">Além da psicologia, encontro equilíbrio em momentos simples, como estar com meus cachorros e fazer trilhas na natureza. Essas experiências fortalecem minha escuta e sensibilidade no processo terapêutico.
Se você busca apoio emocional ou deseja iniciar uma jornada de autoconhecimento, será um prazer te acompanhar. </p>
                            <div class="mb-4">
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i>Interpretação de senhos</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i>Psicologia clínica</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i>Terapia Junguiana</p>
                            </div>
                            <a href="https://zenklub.com.br/psicologos/bruno-pollo/" target="_blank" class="btn btn-primary rounded-pill text-white py-3 px-5">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->