{% load static %}
<!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4"><i class="fas fa-star-of-life me-3"></i>Psicologia</h4>
                            <p>Sem o passo inicial, ninguém vence as distâncias.</p>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-share fa-2x text-white me-2"></i>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Quick Links</h4>
                            <a href=""><i class="fas fa-angle-right me-2"></i>Home</a>
                            <a href="#services"><i class="fas fa-angle-right me-2"></i> Serviços</a>
                            <a href="#about"><i class="fas fa-angle-right me-2"></i> Sobre mim</a>
                            <a href="#testimonial"><i class="fas fa-angle-right me-2"></i> Testemunhas</a>
                            <a href="#testimonial"><i class="fas fa-angle-right me-2"></i> Testemunhas</a>
                            <a href="#testimonial"><i class="fas fa-angle-right me-2"></i> Testemunhas</a>
                        </div>
                    </div>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Terapia Services</h4>
                            <a href=""><i class="fas fa-angle-right me-2"></i> All Services</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Physiotherapy</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Diagnostics</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Manual Therapy</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Massage Therapy</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Rehabilitation</a>
                        </div>
                    </div> {% endcomment %}
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Contato</h4>
                            {% comment %} <a href=""><i class="fa fa-map-marker-alt me-2"></i> 123 Street, New York, USA</a> {% endcomment %}
                            <a href="#"><i class="fas fa-envelope me-2"></i> psi.brunopollo@gmail.com</a>
                            <a href="#"><i class="fas fa-phone me-2"></i> +55 16 99241-6219</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->