{% load static %}
       <!-- Services Start -->
        <div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0">O que faço</h4>
                    </div>
                    <h1 class="display-3 mb-4">Psicologia</h1>
                    <p class="mb-0">Olá, muito prazer! Sou um psicólogo apaixonado e comprometido com o bem-estar emocional e o desenvolvimento pessoal dos meus clientes. Com vasta experiência em psicoterapia, tenho dedicado minha carreira a ajudar pessoas a superar desafios, e a redescobrir-se em suas mais vastas dimensões.</p>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-1.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Ansiedade</h5>
                                    <p class="mb-4">Ansiedade não precisa controlar sua vida, lide com seus pensamentos.</p>
                                    {% comment %} <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-2.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Autoconhecimento</h5>
                                    <p class="mb-4">Entenda seus padrões, emoções e escolhas para viver com mais clareza.</p>
                                    {% comment %} <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-3.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Autoestima</h5>
                                    <p class="mb-4">Construa uma relação mais saudável com você e fortaleça sua confiança.</p>
                                    {% comment %} <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-4.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Depressão</h5>
                                    <p class="mb-4">Você não precisa enfrentar a depressão sozinho, há caminhos possíveis.</p>
                                    {% comment %} <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-5.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Estresse</h5>
                                    <p class="mb-4">Reduza o estresse diário e recupere equilíbrio emocional no dia a dia.</p>
                                    {% comment %} <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-6.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Identidade de Gênero</h5>
                                    <p class="mb-4">Espaço seguro para explorar e compreender sua identidade de gênero.</p>
                                    {% comment %} <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-7.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Mudança de Local</h5>
                                    <p class="mb-4">Adapte-se emocionalmente às mudanças e construa segurança em novos ambientes.</p>
                                    {% comment %} <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-8.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Vícios</h5>
                                    <p class="mb-4">Compreenda seus hábitos e desenvolva estratégias para superar vícios.</p>
                                    {% comment %} <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                        <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Services More</a>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
        <!-- Services End -->